@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}
body {
    background-color: white(193, 181, 181);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
}
a{
    color: #000000;
    text-decoration: none;
} 
.navbar {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    transition: opacity 0.5s ease;

}

.navbar .logo {
    font-size: 24px;
    font-weight: 700;
    font-family: Seaweed Script, sans-serif; 
    transition: color 0.5s ease;
}

.navbar .logo:hover {
    color: #a8a8a8;
}



.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.5s ease;
}


.navbar .nav-links a:hover, 
.navbar .nav-links a.active
{
    color: #a8a8a8;
}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 2% 0;
}
.intro {
    /*margin: 300px 0 0 0;*/
    width: 700px;
    /*height: 350px;*/
    align-content: space-around;
   background-color: #000000;
    color: #ffffff;
    padding: 70px 2% 70px 50px;
}

.intro .btn{
    background-color: #10100f;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.3s ease;
}
.intro .btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}
.intro h2 {
    font-size: 30px;
}
.intro p {
    margin: 10px 0;
}
.pic{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: 100px;
    /*margin-top: 100px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 20px;
    
}
.flex-container .item{
    background-color: white;
    height: absolute;
    width: auto;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
}

.about-me{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
    padding: 60px;
    margin: 70px 2% 70px 2%;
    justify-items: center;
}
.about-me h2{
    padding-bottom: 20px;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    gap: 50px;
   
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    gap: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
   
    margin: 70px 2% 70px 2%;
    justify-items: center;
    border-radius: 10px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    height: 300px
}



.skills-icon ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   gap: 100px;
   
    list-style: none;
    padding: 0;
    margin: 0;
        
}
.skills-icon ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
  
}
.skills-icon ul li img{
    width: 50px;
    height: 50px;
}
.skills-icon ul li i{
    font-size: 51px;
    color: #000000;
}